@page "/Jugador/Create"

@inject JugadoresService jugadoresService
@inject NavigationManager navigationManager

<PageTitle>Crear Jugador</PageTitle>
<div class="container">

    <div class="card-header text-center">
        <h5 class="card-title">Crear Préstamo</h5>
    </div>

    


</div>


@code {

}
