@page "/Jugador/Create"

@inject JugadoresService jugadoresService
@inject NavigationManager navigationManager

<PageTitle>Crear Jugador</PageTitle>
<div class="container">

    <div class="card-header text-center">
        <h5 class="card-title">Crear Jugador</h5>
    </div>

    <div class="card-body">

        <div class="mb-3">
            <label class="form-label"><strong>JugadorId</strong></label>
            <InputNumber class="form-control" @bind-Value="Jugador.JugadorId" readonly></InputNumber>
        </div>



    </div>


</div>


@code {
    public Jugadores Jugador { get; set; } = new Jugadores();

}
