@page "/Jugador/Index"

@inject JugadoresService jugadoresService
@inject NavigationManager navigationManager

<PageTitle>Registro de Jugadores</PageTitle>
<div class="container">

    <div class="card-shadow-lg">
        <div class="card-header">
            <h5 class="card-title">Registro de Jugadores</h5>
            <a href="/Jugador/Create" class="btn btn-primary"> <span class="bi bi-plus-square-fill-nav-menu mt-3"></span> Crear</a>
        </div>
    </div>

    <div class="card-body">

        <div class="row">

            <div class="col-3">
                <label class="col-form-label"><strong>Filtrar por</strong></label>
            </div>

            <div class="col-4">
                <label class="col-form-label"><strong>Búsqueda</strong></label>
            </div>
        </div>


    </div>

</div>

@code {

}
