@page "/Jugador/Index"

@inject JugadoresService jugadoresService
@inject NavigationManager navigationManager

<PageTitle>Registro de Jugadores</PageTitle>
<div class="container">

    <div class="card-shadow-lg">
        <div class="card-header">
            <h5 class="card-title">Registro de Jugadores</h5>
            <a href="/Jugador/Create" class="btn btn-primary"> <span class="bi bi-plus-square-fill-nav-menu mt-3"></span> Crear</a>
        </div>
    </div>



</div>

@code {

}
